{% extends 'base.html.twig' %}

{% block title %}Edit Factures{% endblock %}

{% block body %}
    <h1>Edit Factures</h1>

    {{ include('factures/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_factures_index') }}">back to list</a>

    {{ include('factures/_delete_form.html.twig') }}
{% endblock %}
