{% extends 'base.html.twig' %}

{% block title %}New Factures{% endblock %}

{% block body %}
    <h1>Create new Factures</h1>

    {{ include('factures/_form.html.twig') }}

    <a href="{{ path('app_factures_index') }}">back to list</a>
{% endblock %}
