<html>
<head><title>payment fail!</title></head>
<body>
<h1>Thanks for your attempted order!</h1>
<p>
    We would appreciate your business!
    but your payment failed :(
    <a href="mailto:orders@example.com">failure@example.com</a>.
</p>
</body>
</html>