<form method="post" action="{{ path('app_avis_delete', {'idavis': avi.idavis}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.idavis) }}">
    <h6 class="text-lg-right" style="margin-right: 30px">
        <button class="btn btn-primary" style="color:#0a58ca;background-color: initial;border-color: rgba(0, 0, 255, 0.2);border-radius:30px 30px;" >
            Supprimer  </button></h6>

</form>
