<form method="post" action="{{ path('app_categoriea_delete',
    {'idcategorie': categoriea.idcategorie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoriea.idcategorie) }}">
    <button style="background-color: initial;font-weight: bolder;color: #0a53be" class="btn btn-primary">supprimer</button>
</form>
