{% extends 'base.html.twig' %}

{% block title %}New Categoriea{% endblock %}

{% block body %}
    <h1>Create new Categoriea</h1>

    {{ include('categoriea/_form.html.twig') }}

    <a href="{{ path('app_categoriea_index') }}">back to list</a>
{% endblock %}
