<form method="post" action="{{ path('app_paniers_delete', {'numeropanier': panier.numeropanier}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.numeropanier) }}">
    <button class="btn btn-primary">Annuler</button>
</form>
