{# {% extends 'base.html.twig' %} #}

{% block title %}Edit Paniers{% endblock %}

{% block body %}
    <h1>Edit Paniers</h1>

    {{ include('paniers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_paniers_index') }}">back to list</a>

    {{ include('paniers/_delete_form.html.twig') }}
{% endblock %}
