{# {% extends 'base.html.twig' %} #}

{% block title %}New Paniers{% endblock %}

{% block body %}
    <h1>Create new Paniers</h1>

    {{ include('paniers/_form.html.twig') }}

    <a href="{{ path('app_paniers_index') }}">back to list</a>
{% endblock %}
