<form method="post" action="{{ path('app_categoriep_delete', {'idcategorie': categoriep.idcategorie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoriep.idcategorie) }}">
    <button class="btn">Delete</button>
</form>
