{% extends 'base.html.twig' %}

{% block title %}Edit Categoriep{% endblock %}

{% block body %}
    <h1>Edit Categoriep</h1>

    {{ include('categoriep/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categoriep_index') }}">back to list</a>

    {{ include('categoriep/_delete_form.html.twig') }}
{% endblock %}
