{% extends 'base-front.html.twig' %}



{% block body %}
    <!-- top-header -->

    <!-- General Form Elements -->
    <div class="testimonials py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">

                <span></span>ajouter votre
                <span></span>réponse</h3>

            <h2 class=" gallery-index ">
                <h1 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3"><span></span></h1>



                <div class="col-sm-6 med-testi-grid align-middle">


                    <td></td>

                    <div class="-testi test-tooltip rounded p-4  bi-border-width">
                        <p>
                        {{ include('reponses/_form.html.twig') }}
                        </p>
                        <p></p>




                    </div>
                    <div class="row med-testi-left my-5">

                        <div class="col-lg-10 col-9 med-testi-txt">
                            <h4 class="font-weight-bold mb-lg-1 mb-2"> </h4>
                        </div>
                    </div>


                </div>

        </div>
    </div>






{% endblock %}
