<form style="display:flex;align-items: center;justify-content: center"  method="post" action="{{ path('app_utilisateurs_delete', {'numeroutilisateurs': utilisateur.numeroutilisateurs}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.numeroutilisateurs) }}">
    <button class="btn-danger">Delete</button>
</form>
