{% extends 'base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}
    <h1 style="padding-top: 100px"></h1>

    {{ include('utilisateurs/_formA.html.twig') }}

    <a class="btn-primary" style="display:flex;align-items: center;justify-content: center"href="{{ path('app_utilisateurs_index') }}">back to list</a>


{% endblock %}
