{% extends 'base-front.html.twig' %}
{% block body %}
<div class="join-retro py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-agile text-left p-4">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Game room</h6>
                            <h4 class="mt-2 mb-3">PinBall machine</h4>
                            <p>A partir de 2000d</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="
{{asset('front-office/images/pinball.jpg')}}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="join-agile text-left p-4">
                    <div class="row ">
                        <div class="col-sm-7 offer-name">
                            <h6>SAGA games</h6>
                            <h4 class="mt-2 mb-3">Street fighter 2</h4>
                            <p>Presque gratuit juste 150d</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="
{{asset('front-office/images/retropup2.jpg')}}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}