{% extends 'base.html.twig' %}



{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Form Elements</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Forms</li>
                    <li class="breadcrumb-item active">Elements</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">General Form Elements</h5>

                            <!-- General Form Elements -->


                            {{ include('forums/_form.html.twig', {'button_label': 'modifier'}) }}


                            <!-- End General Form Elements -->

                        </div>
                    </div>

                </div>

                <div class="col-lg-6">



                </div>
            </div>
        </section>

    </main>




{% endblock %}
