{% extends 'base.html.twig' %}

{% block title %}New Forums{% endblock %}

{% block body %}
    <h1>Create new Forums</h1>

    {{ include('forums/_form.html.twig') }}

    <a href="{{ path('app_forums_index') }}">back to list</a>
{% endblock %}
